@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a Rating</h2>

<h4>Add a rating to this recipe: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select rating")
  @Html.DropDownList("RatingId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>