@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Add a new ingredient</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control", type="text", required="text"})

  @Html.Label("Select recipe")
  @Html.RadioButton("Name", "val", false)
  <input checked="checked" id="RadioButton1" name="RadioButton1" , type="radio" value=$"{model.IngredientId}" />
  @* @Html.RadioButton("class property of the model", "value you want of the class property") *@

  <input type="submit" value="Add new ingredient" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all ingredients", "Index")</p>